*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    background-color: #f6f9ff;
}

body{
    font-size: 1.8rem;
    font-family: Arial;
    color: #00214b;
    padding: 6%;
}

.img-preview{
    display: inline-block;
    width: 45%;
    margin-bottom: 50px;
    padding: 2%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, .15);
    border-radius: 20px;
    vertical-align: top;
}

.img-preview:nth-child(2n-1){
    margin-right: 2.5%;
}

.img-preview:nth-child(2n){
    margin-left: 2.5%;
}

.img-preview p{
    padding-bottom: 25px;
    font-weight: lighter;
    font-size: 2.5rem;
}

.img-preview img{
    padding: 25px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, .02);
    border-radius: 9px;
}